.filter{
    text-align: center;
    margin-top: 20px;
    border: 2px rgb(223, 211, 211) solid;
    width: 500px;
    margin: 0px auto;
    margin-bottom: -60px;
    padding: 20px;
    box-shadow: 5px 5px 20px orange;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
}

.status{
    margin: 10px;
}

.title{
    margin: 5px 5px;
}

.dropdown{
    margin: 5px 5px;
    font-size: 15px;
}

.video{
    margin: 5px 5px;
    font-size: 20px;
}

.checkboxText{
    margin: 5px 5px;
    font-size: 15px;
}