.navbar{
    display: flex;
    background-color: black;
    color: orange;
    padding: 60px 40px;
    justify-content: space-between;
}

.flexLinks{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    
}

.link{
    color: white;
    text-decoration: none;
    color: white;
    

}

.li{
    list-style-type: none;
    margin: 5px;
    font-size: large;
    font-weight: bold;
}

.title{
    font-weight: Bold;
    font-size: 35px;
}