.navbar{
    display: flex;
    background-color: white;
    color: #439A97;
    padding: 30px 40px;
    justify-content: space-between;
    box-shadow: 10px 10px 20px rgb(211, 192, 192);
}

.flexLinks{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    
}

.link{
    color: white;
    text-decoration: none;
    color: black;
    

}

.li{
    list-style-type: none;
    margin: 5px;
    font-size: large;
    font-weight: bold;
}

.li:hover{
    text-decoration: underline;
}

.title{
    font-weight: 900;
    
    font-size: 2.5em;
}