@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0px;
    margin: 0px;
    
}

body{
    font-family: "Poppins";
}


/* applying flex to the modules container */
.modules{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    width: 1300px;
    margin: 150px auto;
    
}


/* styling the introduction section */

.introduction {
    font-size: 1.2em;
    padding: 30px 30px;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;
    border:2px solid #CBEDD5;
    background-color:#CBEDD5 ;

}